.root {
  width: 100%;

  h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
  }

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    position: relative;

    .alert {
      display: none;
      position: absolute;
      bottom: -30px;
      font-size: 14px;
      background-color: rgb(220, 220, 220);
      padding: 5px 10px;

      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        left: 10px;
        top: -5px;
        background-color: rgb(220, 220, 220);
        transform: rotate(45deg);
      }
    }

    input {
      width: 100%;
      border: none;
      outline: none;
      padding-left: 8px;
      font-size: 15px;
    }

    button {
      padding: 8px;
      font-size: 20px;
      display: flex;
      background-color: royalblue;
      border: none;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: rgb(58, 96, 212);
      }

      &:active {
        background-color: rgb(51, 87, 192);
      }
    }
  }
}

.showAlert {
  display: block !important;
}

.error {
  border: 1px solid red !important;
  animation: errorInput 0.15s linear 2;
}

@keyframes errorInput {
  50% {
    transform: translate(3px, 0);
  }
  100% {
    transform: translate(-3px, 0);
  }
}
