@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background: rgb(78,142,228);
  background: linear-gradient(45deg, rgba(78,142,228,1) 0%, rgba(99,216,208,1) 100%);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}